trigger:
  branches:
    include: 
      - main

pr:
  branches:
    include:
      - main

stages:
  - stage: Validate
    displayName: "Terraform Validate"
    jobs:
      - job: validate
        steps:
          - checkout: self
          - task: TerraformInstaller@1
            displayName: "InstallTerraform"
            inputs:
              terraformVersion: "1.6.6"

          - task: AzureCLI@2
            displayName: "Terraform Init (Backend)"
            inputs:
              azureSubscription: "azure-spn"
              scriptType: "bash"
              scriptLocation: "inlineScript"
              inlineScript: |
                cd infra
                terraform Init

          - script: |
              cd infra
              terraform validate
            displayName: "Terraform Validate"

  - stage: Plan
    dependsOn: Validate
    displayName: "Terraform Plan"
    jobs:
      - job: plan
        steps:
          - checkout: self

          - task: AzureCLI@2
            displayName: "Terraform Plan"
            inputs:
              azureSubscription: "azure-spn"
              scriptType: "bash"
              scriptLocation: "inlineScript"
              inlineScript: |
                cd infra
                terraform Init
                terraform plan -out=tfplan

          - publish: infra/tfplan
            artifact: tfplan

  - stage: Apply
    dependsOn: Plan
    condition: eq(variables['build.SourceBranch'], 'refs/heads/main')
    displayName: "Terraform Apply"
    jobs:
      - job: apply
        steps:
          - checkout: self

          - download: current
            artifact: tfplan

          - task: AzureCLI@2
            displayName: "Terraform Apply"
            inputs:
              azureSubscription: "azure-spn"
              scriptType: "bash"
              scriptLocation: "inlineScript"
              inlineScript: |
                cd infra
                terraform init
                terraform apply -input=false tfplan
